.condata{
	width:1349px;
	height:800px;
	margin:0px auto;
	position:relative;
background-color:#eee;
background-image:url(../images/bg2.jpg);
background-repeat:no-repeat;}

.confunc{
	width:799px;
	height:580px;
  margin-left:275px;
  top:150px;
  border:1px solid #aaa;
  position:relative;
  background-color:#ded;
  float:left;}

.conchoice{
	width:200px;
	height:200px;
	border:1px solid #eee;
	position:relative;
	background-color:#aaa;
	top:390px;
	margin-left:1110px;
}

	