 
.container{
	width:1349px;
	height:800px;
	position:relative;
	margin:0px auto;
	background-image:url(../images/bg2.jpg);}
	
.searchpage{
	width:200px;
	height:355px;
	position:relative;
	left:22px;
   top:125px;
   float:left;
    border: 1px solid #eee;
    background-color:#fff;
}

.searchpage1{
	width:200px;
	height:75px;
background-image:url(../images/mauna.png);
}
	

.search{
	width:140px;
	height:30px;
	border 1px solid #eee;
	position:relative;
	left:1170px;
    top:60px;
     float: left;
  background-color:transparent;}
  
.img_search{
 	width:28px;
 	height:27px;
 	position:relative;
 	left:1140px;
  top:89px;
 }
.sidebar{
	width:175px;
	height:599px;
	position:relative;
  margin-left: -145px;
	top:125px;
	border:1px solid #eee;
	float: left;
background-color:#fff;}
 	       
.bar{width:900px;
	height:570px;
	position:relative;
  margin-left:20px;
  top:155px;
  float:left;
  background-color:#000;}

.bt{
width:32px;
height:28px;
	border:1px groove #000;
 background-color:#3E3A4E;
 background-image:url(../images/search.png);
background-repeat:no-repeat;}

.change{
 height:120px;
 width: 30px;
 background-color: #cf0;
 position:absolute;
 top:80px;
 float:left; 
 font-size:30px;
	font-weight:bold;
	line-height:120px;
	color:#fff;
	 text-decoration:none;
   z-index: 1;
}

.change2{
	height: 120px;
	width: 30px;
	background-color: #cf0;
	position:absolute;
	top: 80px;
	margin-left: 870px;
	font-size:30px;
	font-weight:bold;
	line-height:120px;
	color:#fff;
	 text-decoration:none;
   z-index: 1;
}
.arrow2{
	font-size:30px;
	font-weight:bold;
	line-height:120px;
	color:#fff;
  padding:10px;
  text-decoration:none;}


.footer{
  	width: 1349px;
  	height: 100px;
  	background-color: #eee;
  }
  
.img-content{
  	width:900px;
  	height:280px;
  	background-color:#eee;
  	position:relative;
  	overflow:hidden;
  	top:-30px;

  	}
  	
.text-content{
  	width:900px;
  	height:280px;
  	background-color:rgba(230, 227, 176, 1);
  	position:relative;
  margin-top:10px;}

.introduction{
  	width:175px;
  	height:278px;
    background-image: url(../images/news.png);
    background-repeat: no-repeat;
    background-color: rgba(200, 199, 210, 1);
  }

.sidebar1{
  	width: 173px;
  	height: 50px;
  	background-color: #cf0;
    margin-top: 3px;
  }

.sidebar2{
    width: 173px;
    height: 50px;
    background-color: #cf0;
    margin-top: 40px;
  }

.func{
    width: 175px;
    height: 319px;
    background-color: #ceb;
    margin-top: 2px;
  }

.func ul{
   list-style: none;
  }

.func li a{
    display: block;
    width: 173px;
    height: 50px;
    background-color: rgba(143, 204, 202, 1);
    margin-top: 25px;
    margin-left: 0px;
    line-height: 50px;
  }
 
.graph{
    width:200px;
    height: 200px;
    background-color: #cde;
    margin-top: -249px;
    left: 1120px;
    border:1px solid #eee;
    position: relative;
    float: left; 
  }

.graph ul{
    list-style: none;
  }
.graph li{
    background: url(../images/ddd.png) no-repeat left 4px top 15px;
  }
 .graph li a{
      display: block;
      width: 150px;
      height: 42px;
      border: 1px solid #eee;
      margin-top: 15px;
      margin-left: 40px;
      text-align: center;
       font-weight: bold;
       line-height: 42px;
       text-decoration: none;
}

.dis{
  margin-top: 10px;
}

#img_content{
    width:900px;
    height:280px;
    background-color:#eee;
    position:relative;
    top:0px;
    left: 0px;
    overflow: hidden;
    }

.img-c{
  width: 900px;
  height: 280px;
  margin-top:0px;
}

.cir{
	 border-radius:10px ;
	 height:15px !important;
	 width:15px !important;
	 background-color:#fff !important;
	 border:medium none !important;
	 margin-top:9px;
	 margin-left:400px;
}

.img-content ul{                
  list-style:none;
  width: 5400px;
  position: relative;
  left: 0px;
}

.img-content li{
	width:900px;
height:280px;
float:left;}

.introduction p{
	margin-top:135px;
	font-size:15px;
  margin-left:12px;
	position:absolute;
}

.introduction h1{
	margin-top:85px;
	font-size:20px;
  margin-left:35px;
	position:absolute;
}
 
	








